{% extends 'base.html' %}
{% block body %}

      <div class="contain my-3">
        <div class="card" style="width: 18rem;">
          <img src="https://media.istockphoto.com/photos/machine-learning-hands-of-robot-and-human-touching-on-big-data-picture-id1206796363?s=612x612" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Hi, Everyone <b>I am Harsha vardhan</b> <br> <b>B.tech 2025 <br> <u>Nit warangal</u></b></p>
          </div>
        </div>
      </div>

      {% endblock body %}